@model MicroBdc.Web.Models.PlanViewModel


    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(m => m.PlanName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @if (Model != null)
            {
                @Html.TextBoxFor(m => m.PlanName, new { @class = "form-control", value = Model.PlanName })

            }
            else
            {
                @Html.TextBoxFor(m => m.PlanName, new { @class = "form-control"})
            }
            
            @Html.ValidationMessageFor(m => m.PlanName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Log in" class="btn btn-default" />
        </div>
    </div>
